/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;

  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateY(-350px);
  }

  to {
    transform: translateY(0);
  }
}



/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

.p1 {
  background-color: teal;
}

.p2 {
  background-color: yellow;
}