/* game board table */

#board td {
  width: 60px;
  height: 60px;
  border: solid 1.5px #666;
  border-radius: 8%;
  border-color: #7ea5a4;

}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;

  animation-duration: .60s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateY(-350px);
  }

  to {
    transform: translateY(0);
  }
}


/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  border-radius: 50%;
}

#column-top td:hover {
  background-color: #B7C3D4;
}

.p1 {
  /* background-color: teal; */
  background-image: url(https://image.shutterstock.com/image-photo/kherson-ukraine-august-27-2016-260nw-474817792.jpg);
  background-size: cover;
}

.p2 {
  /* background-color: yellow; */
  background-image: url(https://st4.depositphotos.com/2172759/25678/v/1600/depositphotos_256780776-stock-illustration-cartoon-cute-soda-bottle-spread.jpg);
  background-size: cover;
}


#board {
  margin: 20px auto;
  background-color: #FCF7EC;
  border-radius: 10px;
}

.restartButton {
  position: relative;
  left: 240%;
  top: 50px;
  border-radius: 5px;
  font-family: 'VT323', monospace;
  width: 200%;
  font-size: 20px;
  background-color: #90D1BD;
}

body {
  background-color: #F6F6F6;
  font-family: 'VT323', monospace;
}


img {
  width: 400px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 100px;
  color: #FF9E6C;
}